  <p>Hello, <%= @users.email %>.  Change your info below:</p>

  <form action="/users/<%=@users.id%>" method="post" >
    <p> Email: <input type="email" name="email" value="<%= @users.email %>" required></p>
    <p> <input type="submit" value="submit"></p>
    <input type="hidden" name="_method" value="put">
  </form>
